[state]
developer = False
last_dir = /home/jd

[global]
warned_about_reporting = True

[bandplan]
north_america = True

[memedit]
column_order_dstarmemoryeditor = Loc,Frequency,Name,Tone Mode,Tone,ToneSql,DTCS Code,DTCS Rx Code,DTCS Pol,Cross Mode,Duplex,Offset,Mode,Power,Tune Step,Skip,Comment,URCALL,RPT1CALL,RPT2CALL,Digital Code
hide_empty = True
show_special = True

[repeaterbook]
has_seen_credit = True
state = 8
county = 069
band = 14
location = 96740
distance = 30mi
